{% extends "base.html" %}

{% block title %}Flasky - {{ user.username }}{% endblock %}

{% block page_content %}
<div class="page-header">
<!--    增加圖片連結 與 CSS用的class 名稱 profile-thumbnail 和 profile-header-->
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
    <div class="profile-header">
        <h1>{{ user.username }}</h1>
        {% if user.name or user.location %}
        <p>
            {% if user.name %}
                {{ user.name }}
            {% endif %}
            {% if user.location %}
            <!--  會出現以user.location為中心的地圖      -->
                from <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
            {% endif %}
        </p>
        {% endif %}
        {% if current_user.is_administrator() %}
        <!-- 如果是管理員登入，就把使用者的email地址轉成mailto連結顯示   -->
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        <!-- 顯示時間-->
        <p>Member since {{ moment(user.member_since).format('L') }}. Last seen {{ moment(user.last_seen).fromNow() }}.</p>

        <p>
        <!--    當使用者登入時 只會顯示自己的連結    -->
            {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
            {% endif %}
        <!--    管理員編輯連結    -->
            {% if current_user.is_administrator() %}
            <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit Profile [Admin]</a>
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}